.contact {

  display: grid;
  grid-template-columns: 1fr 1fr;

  &__left, 
  &__right {
    display: grid;
    place-items: center;
    padding: 10rem 10rem;
  }

  &__left {
    background: linear-gradient(
      to right,
      $gradient-1-color,
      $gradient-2-color
    );
    color: white;
  }

  &__right {
    background: hsl(210, 36%, 96%);
    text-align: left;
  }

  &__text {
    margin-bottom: 1.5rem;
  }
}